<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bois 4 dayz</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.0.1/css/unicons.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav id="nav-bar">
        <a href="/">Logo</a>
        <a href="/api/blogPosts">Blog</a>
        <a href="#">Reviews</a>
        <div class="dropdown">
            <span class="dropdown-toggle">Links<i class='uil uil-angle-down'></i></span>
            <div class="dropdown-content">
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
            </div>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    <footer>
        <h3>&copy; beefybois 2019</h3>
    </footer>
</body>
<script src="/js/scripts.js"></script>
</html>